@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: "Norse Bold";
    src: url(fonts/Norse-Bold.otf);
}


html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Lato', Courier, monospace;
    color: var(--grey);
}

:root {
    /*Colors*/
    --steel-blue: #778da9;
    --steel-blue-opacity: #778da99d;
    --grey: #2e4059;
    --red: #d90429;
    --light-grey: #f0f0f0;
    --darker-grey: #e0e0e0;
}


#main-container {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    height: 100vh;
}

#form-div {
    display: grid;
    grid-template-rows: 1.05fr 0.9fr 1.05fr;
    background-color: var(--darker-grey);
}

#text-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#text-section h2 {
    max-width: 75%;
    font-size: 1.5rem;
    margin: 0px 0px 30px 35px;
}

#image-div {
    position: relative;
    background-color: white;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    border-right: var(--steel-blue) 2px solid;
}

#image-div p {
    position: absolute;
    bottom: 15px;
    color: white;
    width: 100%;
    text-align: center;
    margin: 0;
}

#image-div a {
    text-decoration: none;
    color: var(--steel-blue);
}

#logo-background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 150px;
    background-color: var(--steel-blue-opacity);
    top: 25%;
}

#logo-background h1 {
    font-family: "Norse Bold";
    font-size: 5rem;
    color: white;
    overflow: hidden;
}

#odin {
    height: 100px;
}

#sign-up-form {
    box-shadow: rgba(0, 0, 0, 0.308) 0px 3px 8px;
    background-color: var(--light-grey);
    padding: 15px 35px;
}

#sign-up-form h2 {
    margin: 0 0 20px 0;
}

form {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
}

.element-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

input {
    height: 25px;
    border: 1px solid var(--darker-grey);
    border-radius: 5px;
    max-width: 230px;
}

input:focus {
    outline: 1.5px solid var(--steel-blue);
    box-shadow: black 1px 1px 3px;
}

#button-section {
    display: flex;
    flex-direction: column;
    margin: 35px;
}

#submit {
    max-width: 200px;
    height: 40px;
    background-color: var(--steel-blue);
    color: var(--light-grey);
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

#submit:hover {
    background-color: var(--grey);
    box-shadow: black 1px 1px 3px;
}

#login {
    text-decoration: none;
    font-weight: bold;
    color: var(--steel-blue);
}

#login:hover {
    color: var(--grey);
}